<!doctype html>
<html ng-app="WorkoutApp">

<head>
    <!-- Needed for mobile to function (somewhat) -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import pouchdb, an offline client-side database that syncs -->
    <!-- <script src="./assets/pouchdb.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="src/workout.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/ceruleanBootswatch.min.css">

    <script>
        function getDaysAgo(workout) {
            console.log('hi');
            let lastRoutineFinish = workout.endMilliseconds;
            let lastRoutineFinishMs = lastRoutineFinish[lastRoutineFinish.length-1];

            let today = new Date();
            let oldDate = new Date(lastRoutineFinishMs);
            let msInDay = 24 * 60 * 60 * 1000;
            return today - oldDate / msInDay
        }
    </script>
</head>

<body class="container" ng-controller="WorkoutController as workout">

    <div ng-if="workout.started == false">

        <h2> Choose Workout. Click box and click off.. Some bug </h2>

        <select class="form-control" ng-model="workout.routine" ng-change="workout.start(workout.routine)">
            <option value="{{routine.name}}" ng-repeat="routine in workout.data.routines | orderBy:'daysAgo' | reverse">{{routine.name}} - {{ routine.daysAgo }} Days Ago - {{routine.workoutTime[routine.workoutTime.length-1]}}</option>
        </select>

    </div>


    <div ng-if="workout.started == true">
        <h2> Workout: {{workout.data.routines[workout.currentRoutineId].name}} </h2>

        <h3> Exercise: {{workout.data.routines[workout.currentRoutineId].exercises[workout.currentExerciseId].name}} </h2>

            <!-- Exercises -->
            <div class="row">
                <div class="col-xs-12">
                    </b>Previous:</b>
                </div>
            </div class="row">

            <div class="row">
                <div class="col-xs-3">
                    Reps
                </div>
                <div class="col-xs-9">
                    {{workout.previousExerciseReps}}
                </div>
            </div class="row">

            <div class="row">
                <div class="col-xs-3">
                    Weight
                </div>
                <div class="col-xs-9">
                    {{workout.previousExerciseWeight}}
                </div>
            </div class="row">

            <br>

            <div class="row">
                <div class="col-xs-12">
                    </b>Current:</b>
                </div>
            </div class="row">

            <div class="row">
                <div class="col-xs-3">
                    Reps
                </div>
                <div class="col-xs-9">
                    <input ng-model = "workout.currentReps">
                </div>
            </div class="row">

            <div class="row">
                <div class="col-xs-3">
                    Weight
                </div>
                <div class="col-xs-9">
                    <input ng-model = "workout.currentWeight">
                </div>
            </div class="row">

            <div class="row">
                <div class="col-xs-6">
                    <button ng-click="workout.previousExercise()"> Previous </button>
                </div>
                <div class="col-xs-6">
                    <button ng-click="workout.nextExercise()"> Next </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button ng-click="workout.generateJSON()"> Save Workout </button>
                </div>
            </div>
            <div ng-if="workout.saved == true"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <input ng-model = "workout.json">
                    </div>
                </div>
            </div>
    </div>

</body>

</html>
