<!doctype html>
<html ng-app="todoApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" type="text/css" href="lib/css/ceruleanBootswatch.min.css">
</head>

<body class="container" ng-controller="TodoListController as workout">
  <div class="row">

    <div class="col-xs-4">
      <button class="btn btn-success btn-lg" ng-click="changePerson = !changePerson">{{workout.selectedPerson.name}}</button>
      <div ng-if="changePerson == true">
          <button ng-repeat="person in workout.people | filter: {active:true}" ng-click="workout.findPerson(person.personId)">{{person.name}}</button>
        </select>
      </div>
    </div>

    <div class="col-xs-4">
      <h2>Body Builders:</h2>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-success btn-lg" ng-click="addPeople = !addPeople">Edit</button>
    </div>
  </div>

  <!-- Add a person to the workout -->
  <div ng-if="addPeople == true">

    <div ng-repeat="person in workout.people">
      <input type="checkbox" ng-model="person.active">
      <span class="done-{{person.selected}}">{{person.name}}</span>
    </div>

    <form ng-submit="workout.addPerson()">
      <div class="row">
        <div class="col-xs-8">
          <input type="text" class="form-control input-lg" ng-model="workout.personName"  size="30"
          placeholder="Add another person">
        </div>
        <div class="col-xs-4">
          <input class="btn btn-primary btn-lg" type="submit" value="add">
        </div>
      </div>
    </form>
  </div>




  <hr>

  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-success btn-lg" >Prev</button>
    </div>
    <div class="col-xs-4">
      <h2>{{workout.selectedExercise.name}}</h2>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-success btn-lg" >
        Next
      </button>
    </div>
  </div>

  <hr>


  <!-- Exercises -->
  <div class="row">
    <div class="col-xs-2">
      Reps
    </div>
    <div class="col-xs-10">
      Weight
    </div>
  </div>

<div ng-repeat="exercise in workout.previousWorkouts | filter: {personId:workout.selectedPerson.personId, exerciseId:workout.selectedExercise.exerciseId}">
  <div ng-repeat="rep in exercise.reps track by $index" class="row">

<div class="col-xs-2">
  {{exercise.reps[$index]}}
</div>

<div class="col-xs-2">
  {{exercise.weight[$index]}}
</div>

<div class="col-xs-3">
</div>
  <button>Edit</button>
<div class="col-xs-3">
  <button>Edit</button>
</div>

</div>
</div>

</body>
</html>
